//ESTILO MOBILE NOSOTROS
.mainNosotros { 
    img {
        width: 70vw;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
    iframe {
        width: 70vw;
        height: 70vw;
        margin-left: auto;
        margin-right: auto;
    }
}