//  ESTILO MOBILE PIE DE PAGINA
footer {
    background-image: linear-gradient($bg-color-footer-1, $bg-color-footer-2);
    border-bottom: 1.3px solid $border-color;
    width: 100%;
    height: 6vh;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: inherit;
        nav {
            display: flex;
            align-items: center;
            position: absolute;
            right: 2vw;
            bottom: 1vh;
            z-index: 100;
                a {
                    padding: .3vw;
                    text-decoration: none;
                    img {
                        width: 3vw;
                        position: relative;
                        bottom: 0;
                        opacity: .7;
                            &:hover {
                                width: 2.3vw;
                                transition: 0.3s ease;
                                color:$bg-color-h2;
                            }
                            &:link {
                                color:$fnt-color-3;
                            }
                            &:active {
                                color: $fnt-color-1;
                            }
                            &:visited {
                                color: $bg-color-navItem; 
                            }
                    }
                }
        } 
}
.footerNavContainer {
    position: relative;
    padding: 0vw;
}
.footerIframeContainer {
    position: fixed;
    left: 3vw;
    bottom: 3vw;
        &__iframeMap {
            display: block;
            width: 7vw; 
            height: 3vh;
        }
}
.fscLogoFooter {
    position: fixed;
    bottom: 2vh;
    left: 48vw;
}