// ESTILOS COMUNES A TODAS LAS PAGINAS (INDEX.HTML) MOBILE FIRST (GALAXY S5 360x640)

html {
    box-sizing: border-box;
    font-family: $fnt-family;
    position: relative;
}
body {
    background: { 
        image: url(../Imagenes/Routercnc2.jpg);
        attachment: fixed;
        position: center;
        size: cover;
        repeat: no-repeat;
        color: $bg-color-body;
    }
    color: $fnt-color-1;
    border: 0.3vw 0 0.3vw 0 groove $border-color;
    width: 100vw;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display:flex;
    flex-direction: column;
    position: relative;
    top: 0;
    z-index: 1;
}
img, audio, video, iframe, svg {
    max-width: 100%;
    height: auto;
}