@import "header";
@import "variables";
//ESTILO MOBILE FIRST GALERÍA
.mainGaleria {
    p a {
        text-decoration: none;
    }
    h2 {
        padding-top: 6vw;
        padding-bottom: .3vw;
    }
    section p{
        background-color: $bg-color-footer-2;
        color: $fnt-color-1;
        border: 0.3vw 0 0.3vw 0 solid $fnt-color-1;
        width: 50vw;
        height: 50vh;
        margin-top: 1vw;
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}

.mainProductos {
    margin: 12rem auto 9rem;
    background-color: $bg-color-p;
    .mainProductos__titleH2 {
        margin: 1rem;
        text-transform: capitalize;
        text-align: center;
        padding: 1rem;
        z-index: 500;
    }
    .mainProductos__p {
        margin: 1rem;
        padding: 1rem;
        text-align: justify;
    }
    ul {
        text-align: center;
        padding: 1rem;
    }
}

.carousel {
    width: 40%;
}

.mainMateriales {
    display: flex;
    ul {
        display: inline-block;
    }
}

@import "footer";

@import "mediaQueryIpad";
@import "mediaQueryCel";