//ESTILO MOBILE FIRST GALERÍA
.mainGaleria {
    p a {
        text-decoration: none;
    }
    h2 {
        padding-top: 6vw;
        padding-bottom: .3vw;
    }
    section p{
        background-color: $bg-color-footer-2;
        color: $fnt-color-1;
        border: 0.3vw 0 0.3vw 0 solid $fnt-color-1;
        width: 50vw;
        height: 50vh;
        margin-top: 1vw;
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}

.mainProductos {
    display:flex;
    flex-direction: column;
    background-color: $bg-color-p;
    
    &:__titleH2 {
        text-transform: capitalize;
        padding: 1vw;
        z-index: 500;
    }
    &:__titleH3 {
        padding: 1vw;
    }
    &:__p {
        padding: 1vw;
    }
}

.carousel {
    width: 40%;
}

.mainMateriales {
    display: flex;
    ul {
        display: inline-block;
    }
}