@import "_variables";
@import "header";
.mainEquipamiento {
        &__title {
            display:table-cell;
            vertical-align: middle;
            position: relative;
            margin: 10vh auto;
            padding: .5rem;
            top: 0;
            left: 0;
            width: 50%;
            height: 30vh;
            background-color: $bg-color-h2;
            color: $fnt-color-2;
            text-align: center;
            text-transform: uppercase;
        }
        h4 {
            background-color: $bg-color-h3;
            color: $fnt-color-3;
            text-align: right;
        }
        &__iframe {
            width: 50vw;
            height: calc(50vw*9/16);
            background-color: $bg-color-p;
            position: relative;
            margin-top: 2rem;
            left: 22vw;
            right: 25vw;
            border: .5vw solid $bg-color-bajada;
            border-radius: .1vw;
        }
        &__p {
            position: relative;
            color: $fnt-color-1;
            background-color: $bg-color-p;
            padding: .5rem;
            text-align: center;
        }
        &__copete {
            padding: .5rem;
            color: $fnt-color-1;
            background-color: $bg-color-p;
        }
}
.containerTabla {
    width: 100%;
    position: relative; 
    margin-bottom: 5rem; 
}
.serviciosTabla {
    width: 100%;
    background-color: $bg-color-p;
    border-collapse: collapse;
    display: inline-block;
        thead th {
            background-color: $bg-color-p;
            border-collapse: collapse;
            color:$fnt-color-3;
            font-size: 1vw;
        }
}
table { 
    thead {
        font-size: 1rem;
    }
    tr, td {
        border: 1px solid $border-color;
        background-color: $bg-color-p;
        text-align:center;
        list-style-position: inside;
        font-size: 1rem;
    }
    .columna {
        width: 33.33333%
    }
}
.descripcionTd {
    text-align:justify;
    padding: .5rem;
}
.columnaVentajas {
    list-style-type: lower-roman;
    text-align: start;
    padding: .5rem;
    font-size: 1rem;
}

@import "footer";

@import "mediaQueryIpad";
@import "mediaQueryCel";
