// DECLARACION DE VARIABLES

$body-width: 100%;
$bg-color-body: #0d6efdcc;
$bg-color-bajada: #00000088;
$bg-color-form: #11111177;

$bg-color-navItem: #d3d3d344;
$bg-color-mainSectionContainer: #024dbccc;
$bg-color-h2: #00000033;
$bg-color-h3: #c6c6c6;
$bg-color-p: #e3e3e399;
$bg-color-footer-1: #3e3e3ecc;
$bg-color-footer-2:#0d6efdcc;
$bg-color-button: #090a95;
$bg-color-buttonGradient-1: #c1c1c1;
$bg-color-buttonGradient-2: #c2a94d;

$fnt-family: 'IBM Plex Sans', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
$fnt-cotice-p: 2vw;
$fnt-btn: 2vw;
$title-color:#0d00fddd;
$title-color-hover: #41c7dfaa;
$fnt-color-1: #070a55;
$fnt-color-2: #e3e3e3;
$fnt-color-3: #090a95;
$fnt-color-navItem: #e3e3e3aa;

$border-color: #070a55dd;
$brdrRad: 3vw;