@import "_variables";
@import "fuentes-fluidas";
// @import "grid-fluidas";
// @import "contenedores-fluidos";
//----------------------------------------------------------GLOBAL-------------------------------------------------
*, *:before, *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}
html {
    box-sizing: border-box;
    font-family: $fnt-family;
    position: relative;
}
body {
    background: { 
            image: url(../Imagenes/Routercnc2.jpg);
            attachment: fixed;
            position: center;
            size: cover;
            repeat: no-repeat;
            color: $bg-color-body;
    }
    color: $fnt-color-1;
    width: $body-width;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display:flex;
    flex-direction: column;
    position: relative;
    top: 0;
    z-index: 1;
}
img, audio, video, iframe, svg {
    max-width: 100%;
    height: auto;
}
//------------------------------------------------------ENCABEZADO------------------------------------------------
.headerContainer__img {
    display:flex;
    position: relative;
    width: 3vw;
    padding-left: .5vw;
    z-index: 4;
        &:hover {
            opacity: 0.7;
        }
}
.headerContainer__title {
    display: flex;
    color: $title-color;
    text-decoration: none;
    font-style: italic;
    font-weight: bold;
    font-size: 3rem;
    text-transform: uppercase;
    position: relative;
    top: .5vh;
    left: 0;
    z-index: 5;
        &:hover {
            color: $title-color-hover;
            text-decoration: none;
            transition: 0.5s;
        }
} 
.nav-item {
    background-color: $bg-color-navItem;
    color: $fnt-color-navItem
}
.nav-link {
    font-size: 1rem;
}
.offcanvas-header {
    background-color: $bg-color-body;
}
//-----------------------------------------------------SECCIÖN PRINCIPAL-------------------------------------------
main {
    position: relative;
}
.mainIndex {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 77.5vh;
    margin-left: auto;
    margin-right: auto;
    top: 5.5vh;
    @import "bajada";
}
.mainSectionContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200, 1fr));
    position: relative;
    height: auto;
    margin: 15vh auto;
    background-color: $bg-color-mainSectionContainer;
    h2 {
        background-color: $bg-color-h2;
        color: $fnt-color-2;
        margin: 1vw 0;
        padding: 1vw;
        text-transform: uppercase;
    }
    p {
        color: $fnt-color-1;
        background-color: $bg-color-navItem;
        font-size: 1.5vw;
        margin: 2vw 0;
        padding: 1vw;
        text-align: justify;
    }
    h3 {
        position: relative;
        background-color:$bg-color-h3;
        color:$fnt-color-3;
        font-size: 4vw;
        margin: 1vw;
        padding: 1vw;
        position: relative;
    }
    .mainSectionContainer__img {
        width: 50%;
    }
}
//----------------------------------------------------PIE DE PAGINA------------------------------------------------
.footer-container {
    background-image: linear-gradient($bg-color-footer-1, $bg-color-footer-2);
    border-bottom: 1.3px solid $border-color;
    width: 100%;
    height: 10vh;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
}   
.footer-list-container {
    display: flex;
    justify-content: center;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 5vh;
    list-style-type: none;
        .footer-list-item {
            font-size: 1rem;
            padding: 0.5rem;
            width: 3rem;
    
        }
}



@import "boton";
@import "cotice";
@import "galeria";
@import "nosotros";
@import "servicios";