@import "_variables";
@import "fuentes-fluidas";
@import "boton";
@import "cotice";
@import "galeria";
@import "nosotros";
@import "servicios";
@import "_reset";
//----------------------------------------------------------GLOBAL-------------------------------------------------
body  {
    background: { 
        image: url(../Imagenes/index-bgimage.jpg);
        attachment: fixed;
        position: center;
        size: cover;
        repeat: no-repeat;
    }
color: $fnt-color-1;
width: $body-width;
height: auto;
margin-left: auto;
margin-right: auto;
position: relative;
top: 0;
z-index: 1;
}
img, audio, video, iframe, svg {
    max-width: 100%;
    height: auto;
}
//------------------------------------------------------ENCABEZADO-------------------------------------------------
@import "header";
.bg-primary {
    background-image: linear-gradient($bg-color-footer-1, $bg-color-footer-2);
}
//-----------------------------------------------------SECCIÖN PRINCIPAL/BAJADA EFECTO PULSE------------------------------
@keyframes pulse {
0% {
    transform: scale(1.05);
    opacity: .95;
}
50% {
    transform: scale(0.95);
    opacity: .45;
}
100% {
    transform: scale(1);
    opacity: .85;
}
}
.pulse {
    animation: pulse 1.5s linear infinite;
}
//-----------------------------------------------------SECCIÖN PRINCIPAL-------------------------------------------


main {
    position: relative;
}
.mainIndex {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 76vh;
    margin: 6.5vh auto 10vh;
    margin-right: auto;
    z-index: 50;
    .container__bajada {
        background-color: $bg-color-bajada;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 3rem;
        height: 76vh;
    .bajada__title {
        flex-basis: content;
        display:table-cell;
        vertical-align: middle;
        position: relative;
        margin: 10vh auto 1vh auto;
        padding: 3%;
        top: 0;
        left: 0;
        width: 90%;
        height: 30vh;
        color: $fnt-color-2;
        text-align: center;
        text-transform: capitalize;
    }
    .bajada__img {
            max-height: 50vh;
            width: 10%;
            border: none;
            margin: 1%;
    }
    .bajada__p {
        width: 60%;
        height: auto;
        color: $fnt-color-2;
        text-align: center;
        margin-bottom: 40vh;
        padding: 1%;
    }
    }
}
.mainSectionContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    position: relative;
    height: auto;
}
.mainSection__item {
    background-color: $bg-color-mainSectionContainer;
    margin: 0vh 1vw 12vh;
    img:hover {
    transform: scale(1.1);
    }

    h2 {
        background-color: $bg-color-h2;
        color: $fnt-color-2;
        margin: 1vw 0;
        padding: 1vw;
        text-transform: capitalize;
        text-align: center;
    }
    p {
        color: $fnt-color-1;
        background-color: $bg-color-navItem;
        margin: 1vw 0;
        padding: 1vw;
        text-align: justify;
        text-align: center;
    }
    h3 {
        position: relative;
        background-color:$bg-color-h3;
        color:$fnt-color-3;
        margin: 1vw;
        padding: 1vw;
        position: relative;
    }
    .mainSectionContainer__img {
        width: 100%;
    }
}
//----------------------------------------------------PIE DE PAGINA------------------------------------------------

@import "footer";

@import "mediaQueryIpad";
@import "mediaQueryCel";
